In [1]:
import pandas as pd 
import numpy as np
df1 = pd.read_csv('netflix_titles.csv')
df1.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Unnamed: 12
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",NaN
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,NaN
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,NaN

In [2]:
df1.dtypes

show_id          int64
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
Unnamed: 12     object
dtype: object

In [11]:
df1.fillna(' ', inplace=True) #replace spaces to transform all collumns on string
print('title =',df1.title.str.len().max())
print('type =', df1.type.str.len().max())
print('director =', df1.director.str.len().max())
print('cast =', df1.cast.str.len().max())
print('country =', df1.country.str.len().max())
print('date_added =', df1.date_added.str.len().max())
print('rating =', df1.rating.str.len().max())
print('duration =', df1.duration.str.len().max())
print('listed_in =', df1.listed_in.str.len().max())
print('description =', df1.description.str.len().max())

title = 104
type = 7
director = 208
cast = 771
country = 123
date_added = 19
rating = 8
duration = 10
listed_in = 79
description = 248

In [12]:
df2 = pd.read_csv('/home/wiem/Downloads/Netflix_Shows.csv', encoding='latin-1')
df2.head(5)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [13]:
df2.dtypes

title                 object
rating                object
ratingLevel           object
ratingDescription      int64
release year           int64
user rating score    float64
user rating size       int64
dtype: object

In [ ]:
print(df2.describe())

In [14]:
df2.fillna(' ', inplace=True)
print('title =', df2.title.str.len().max())
print('rating =', df2.rating.str.len().max())
print('rating =', df2.ratingLevel.str.len().max())

title = 63
rating = 8
ratingLevel = 125